*.exe
/semester_03/Lenguajes de Computacion 3/exampleProject/target/
/semester_03/Lenguajes de Computacion 3/Capitalizer/nbproject/private/
/semester_03/Lenguajes de Computacion 3/Random Number/nbproject/private/
/semester_03/Lenguajes de Computacion 3/Random Number/build/
/semester_03/Lenguajes de Computacion 3/HangMan/nbproject/private/
/semester_03/Lenguajes de Computacion 3/HangMan/build/
/semester_03/Lenguajes de Computacion 3/hangMan/nbproject/private/
/semester_03/Lenguajes de Computacion 3/uiHangMan/nbproject/private/
/semester_03/Lenguajes de Computacion 3/uiHangMan/build/
/semester_03/Lenguajes de Computacion 3/proyectoNombres/nbproject/private/
/semester_03/Lenguajes de Computacion 3/proyectoNombres/build/
/semester_03/Lenguajes de Computacion 3/MultiplosUI/nbproject/private/
/semester_03/Lenguajes de Computacion 3/MultiplosUI/build/
/semester_03/Lenguajes de Computacion 3/filesUI/nbproject/private/
/semester_03/Lenguajes de Computacion 3/filesUI/build/
/semester_03/Lenguajes de Computacion 3/paintLines/nbproject/private/
/semester_03/Lenguajes de Computacion 3/lineInterface/nbproject/private/
/semester_03/Lenguajes de Computacion 3/lineInterface/build/
/semester_03/Lenguajes de Computacion 3/agenda/nbproject/private/
/semester_03/Lenguajes de Computacion 3/agenda/build/
/semester_03/Lenguajes de Computacion 3/GraficasClase/nbproject/private/
/semester_03/Lenguajes de Computacion 3/GraficasClase/build/
/semester_03/Lenguajes de Computacion 3/GraficasTarea/nbproject/private/
/semester_03/Lenguajes de Computacion 3/GraficasTarea/build/
/semester_03/Lenguajes de Computacion 3/archivosGraficas/nbproject/private/
/semester_03/Lenguajes de Computacion 3/archivosGraficas/build/
/semester_03/Lenguajes de Computacion 3/Menu/nbproject/private/
/semester_03/Lenguajes de Computacion 3/Menu/build/
/semester_03/Lenguajes de Computacion 3/Examen/nbproject/private/
/semester_03/Lenguajes de Computacion 3/Examen/build/
/semester_03/Lenguajes de Computacion 3/introduccionBasesDeDatos/nbproject/private/
/semester_03/Lenguajes de Computacion 3/introduccionBasesDeDatos/build/
/semester_03/Lenguajes de Computacion 3/Layouts/nbproject/private/
/semester_03/Lenguajes de Computacion 3/Layouts/build/
/semester_03/Lenguajes de Computacion 3/Collections/nbproject/private/
/semester_03/Lenguajes de Computacion 3/Collections/build/
/semester_03/Lenguajes de Computacion 3/ProyectoFinal/nbproject/private/
/semester_03/Lenguajes de Computacion 3/ArchivosGraficasTarea/nbproject/private/
/semester_03/Lenguajes de Computacion 3/ArchivosGraficasTarea/build/
/semester_03/Lenguajes de Computacion 3/ProyectoFinal/build/
/semester_03/Lenguajes de Computacion 3/ExamenFInal/nbproject/private/
/semester_03/Lenguajes de Computacion 3/ExamenFInal/build/
/semester_03/Lenguajes de Computacion 3/miniMaple/nbproject/private/
/semester_03/Lenguajes de Computacion 3/miniMaple/build/
/semester_03/Lenguajes de Computacion 3/miniMaple/dist/
__pycache__
*.pyc
.env
/semester_05/optimizacion_inteligente/geneticos/python3-virtualenv
